<!DOCTYPE html>
<html lang="en" ng-app="directoryApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AngularJS Practice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="directory.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="directoryController as dirList">
    <h1>AngularJS Github Search</h1>
    <!-- This input is our search model, used for filtering our people -->
    <input type="text" ng-model="search" placeholder="Search For User" />
    <ul class="list-container">
      <!-- This list repeats for each person in our list and filters from our search model -->
      <!-- We then use a ternary expersion to give a class depending on person's age -->
      <!-- We include a template for our list of people from person.html -->
      <li
        ng-repeat="person in dirList.list | filter: search"
        ng-class="person.age > 29 ? 'over-thirty': 'under-thirty'"
        ng-include
        src="'person.html'"
      ></li>
    </ul>
    <!-- This is a form for adding people to our list -->
    <!-- When our form is sumbitted, run our addPerson() function -->
    <form ng-submit="dirList.addPerson()">
      <input type="text" placeholder="Name" ng-model="dirList.name" />
      <br />
      <input type="number" placeholder="Age" ng-model="dirList.age" />
      <br />
      <input
        type="text"
        placeholder="GitHub Username"
        ng-model="dirList.userName"
      />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
