@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  background: #eee5e9;
  color: #7c7c7c;
  font-family: "Roboto Condensed", sans-serif;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.over-thirty {
  background: #d64933;
  color: #eee5e9;
  border-radius: 10px;
}

.under-thirty {
  background: #92dce5;
  color: #7c7c7c;
  border-radius: 10px;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
}
ul {
  list-style: none;
}

li {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

li img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}
li span {
  margin-right: 10px;
}

.under-thirty #github {
  fill: #7c7c7c;
}

.over-thirty #github {
  fill: #eee5e9;
}
